@charset "UTF-8";

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*height: 100%;*/
}

body { 
    background-image: linear-gradient(to right, #FFD24D, #FFBF00);
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #57481bba;
    width: 600px;
    padding: 15px;
    margin: auto;
}

h1 {
    color: #806000;
    text-align: center;
    text-shadow: 1px 1px 2px #3f3413c8;
}

h2 {
    color: #CC9900;
}

p {
    text-align: justify;
}